[submodule "modules/MMM-OnSpotify"]
    path = modules/MMM-OnSpotify
    url = https://github.com/wenbaiyun-11/MMM-OnSpotify.git
    
[submodule "modules/MMM-Remote-Control"]
	path = modules/MMM-Remote-Control
	url = https://github.com/wenBaiyun-11/MMM-Remote-Control.git

[submodule "modules/MMM-QRCode"]
	path = modules/MMM-QRCode
	url = https://github.com/uxigene/MMM-QRCode.git